@{
    ViewBag.Title = "Home Page";
}


    <div class="jumbotron">
        <h1>Foster Match</h1>
        <p class="lead">Helping foster families come together.</p>
    </div>

    @if (!User.Identity.IsAuthenticated)
    {

        @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "mybtn" })
        @Html.ActionLink("Register Here", "Register", "Account", null, new { @class = "mybtn" })
    }
    @if (User.IsInRole("Admin"))
    {
        <div style="padding:0 30vw 0 30vw;">
            @Html.ActionLink("Foster Home Openings", "Index", "FosterHome", null, new { @class = "mybtn" })
            @Html.ActionLink("Children Needing Placement", "Index", "Child", null, new { @class = "mybtn" }) 
        </div>
    }
    @if (User.IsInRole("FosterHomeManager"))
    {
        @Html.ActionLink("Foster Home Openings", "Index", "FosterHome", null, new { @class = "mybtn" })
        @Html.ActionLink("Children Needing Placement", "Index", "Child", null, new { @class = "mybtn" })
    }
    @if (User.IsInRole("ChildManager"))
    {
        @Html.ActionLink("Foster Home Index", "Index", "FosterHome", null, new { @class = "mybtn" })
        @Html.ActionLink("Children Needing Placement", "Index", "Child", null, new { @class = "mybtn" })
    }
  



















