@model FosterFinder.Models.ChildDetail

@{
    ViewBag.Title = "Delete";
}

<h1>Delete Child Information </h1>

<div>
    <dl class="dl-horizontal" style="color: lightgoldenrodyellow;">
        <dt>
            @Html.DisplayNameFor(model => model.ChildId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BedsNeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BedsNeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolDistNeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolDistNeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaseworkerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseworkerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaseworkerContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseworkerContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model=> model.PhotoUrl)" style="width:3rem; height: 3rem;" />
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Delete Child Listing" class="mybtnlog" />
        </div>
        <div>
            <a class="mybtnlog" @Html.ActionLink("Children Needing Placement", "Index")></a>
        </div>
    }
</div>
