@model FosterFinder.Models.ChildDetail

@{
    ViewBag.Title = "Details";
}


<div class="col-md-6 row">
    <h1>Child Details</h1>
    <dl class="dl-horizontal" style="color: lightgoldenrodyellow;">

        <dt>
            @Html.DisplayNameFor(model => model.ChildName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BedsNeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BedsNeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolDistNeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolDistNeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseworkerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseworkerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaseworkerContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseworkerContact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChildId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildId)
        </dd>
    </dl>
</div>
<div class="col-md-6" style=" margin-top: 20px; margin-bottom: 20px">
    <img src="@Html.DisplayFor(model=> model.PhotoUrl)" style="width:25rem; height: 30rem;" />
</div>


@if (User.IsInRole("Admin") || User.IsInRole("ChildManager"))
{

    @Html.ActionLink("Edit", "Edit", new { id = Model.ChildId }, new { @class = "mybtnlog" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.ChildId }, new { @class = "mybtnlog" })
}
@Html.ActionLink("Children Needing Placement", "Index", null, new { @class = "mybtnlog" })

