@model IEnumerable<FosterFinder.Models.ChildListItem>

@{
    ViewBag.Title = "Index";
}

<h1>Children Needing Placement</h1>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ChildName)</th>
        @*<th>@Html.DisplayNameFor(model => model.BedsNeed)</th>*@
        <th>@Html.DisplayNameFor(model => model.ChildGender)</th>
        <th>@Html.DisplayNameFor(model => model.ChildAge)</th>
        <th>@Html.DisplayNameFor(model => model.SchoolDistNeed)</th>
        @*<th>@Html.DisplayNameFor(model => model.CaseworkerName)</th>
            <th>@Html.DisplayNameFor(model => model.CaseworkerContact)</th>*@
        <th>@Html.DisplayNameFor(model => model.Comments)</th>
        <th>@Html.DisplayNameFor(model => model.PhotoUrl)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Child/Details/?id=@item.ChildId">
                    <div style="height: 100%; width: 100%; text-decoration: underline;">
                        @Html.DisplayFor(modelItem => item.ChildName)
                    </div>
                </a>
            </td>
            @*<td>@Html.DisplayFor(modelItem => item.BedsNeed)</td>*@
            <td>@Html.DisplayFor(modelItem => item.ChildGender)</td>
            <td>@Html.DisplayFor(modelItem => item.ChildAge)</td>
            <td>@Html.DisplayFor(modelItem => item.SchoolDistNeed)</td>
            @*<td>@Html.DisplayFor(modelItem => item.CaseworkerName)</td>
                <td>@Html.DisplayFor(modelItem => item.CaseworkerContact)</td>*@
            <td>@Html.DisplayFor(modelItem => item.Comments)</td>
            <td><img src="@Html.DisplayFor(modelItem => item.PhotoUrl)" style="width:3rem; height: 3rem;" /></td>
            <td>
                <i class="fas fa-home" style="color:#bf0940"></i>
                @Html.ActionLink("Match", "MatchHomes", new { id = item.ChildId }, new { @class = "links" })
            </td>
            @*@if (User.IsInRole("Admin") || User.IsInRole("ChildManager"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ChildId }, new { @class = "links" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ChildId }, new { @class = "links" })
                    </td>
                }*@
        </tr>
    }

</table>
@if (User.IsInRole("Admin") || User.IsInRole("ChildManager"))
{

    @Html.ActionLink("Add a New Child", "Create", null, new { @class = "mybtnlog" })

}
@Html.ActionLink("Foster Home Openings", "Index", "FosterHome", null, new { @class = "mybtnlog" })

