@model IEnumerable<FosterFinder.Models.FosterHomeListItem>

@{
     ViewBag.Title = "MatchHomes";
}

<h1>These homes are a match for the child.</h1>


<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.PhotoUrl)</th>
        <th>@Html.DisplayNameFor(model => model.FamilyName)</th>
        <th>@Html.DisplayNameFor(model => model.SchoolDistrict)</th>
        <th>@Html.DisplayNameFor(model => model.Agency)</th>
        <th>@Html.DisplayNameFor(model => model.CaseworkerName)</th>
        <th>@Html.DisplayNameFor(model => model.CaseworkerContact)</th>
        <th>@Html.DisplayNameFor(model => model.Comments)</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td><img src="@Html.DisplayFor(modelItem => item.PhotoUrl)" style="width:3rem; height: 3rem;" /></td>

        <td>
            <a href="/FosterHome/Details/?id=@item.HomeId">
                <div style="height: 100%; width:100%; text-decoration: underline;">
                    @Html.DisplayFor(modelItem => item.FamilyName)
                </div>
            </a>
        </td>
        <td>@Html.DisplayFor(modelItem => item.SchoolDistrict)</td>
        <td>@Html.DisplayFor(modelItem => item.Agency)</td>
        <td>@Html.DisplayFor(modelItem => item.CaseworkerName)</td>
        <td>@Html.DisplayFor(modelItem => item.CaseworkerContact)</td>
        <td>@Html.DisplayFor(modelItem => item.Comments)</td>
    </tr>
    }
</table>
<div>
    @Html.ActionLink("Children Needing Placement", "Index", null, new { @class = "mybtnlog" })
</div>
