@model FosterFinder.Models.FosterHomeDetail

@{
    ViewBag.Title = "Delete";
}

<h1>Delete Foster Home</h1>

<div>
    <dl class="dl-horizontal" style="color: lightgoldenrodyellow;">
        <dt>
            @Html.DisplayNameFor(model => model.HomeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenBeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenBeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgePrefMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgePrefMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgePrefMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgePrefMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolDistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolDistrict)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Agency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaseworkerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseworkerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaseworkerContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseworkerContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model=> model.PhotoUrl)" style="width:3rem; height: 3rem;" />
         </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="col-md-6" style="margin-top: 20px;">
        <input type="submit" value="Delete Home Listing" class="mybtn" />
        <a class="mybtn" @Html.ActionLink("Foster Home Openings", "Index")></a>
    </div>
    }
</div>
