@model FosterFinder.Models.FosterHomeDetail

@{
    ViewBag.Title = "Details";
}


@*<h4>FosterHomeDetail</h4>*@
<div class="col-md-6 row">
    <h1>Foster Home Details</h1>

    <dl class="dl-horizontal" style="color: lightgoldenrodyellow;">

        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenBeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenBeds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GenderPref)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderPref)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgePrefMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgePrefMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgePrefMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgePrefMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolDistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolDistrict)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Agency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaseworkerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseworkerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaseworkerContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseworkerContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeId)
        </dd>
    </dl>
        @if (User.IsInRole("Admin") || User.IsInRole("FosterHomeManager"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.HomeId },
                        new {@class="mynav"})


            @Html.ActionLink("Delete", "Delete", new { id = Model.HomeId },
                                new { @class = "mynav" })

        }
    @Html.ActionLink("Foster Home Openings", "Index", null, new { @class = "mynav" })
</div>



<div class="col-md-6" style=" margin-top: 20px;">
    <img src="@Html.DisplayFor(model=> model.PhotoUrl)" style="width:30vw; height: 35vw;" />
</div>

